/*
	Fixa o rodapé
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.link-card-panel {
    color: inherit;
}
.card-image img{
    height: 300px;
    object-fit: cover;
}